* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: #3897f0 url(../assets/background.jpg) no-repeat;
    background-size: cover;
}

p {
    font-size: 13px;
}

.cover-img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
}

.cover-photo {
    background-color: #ffffff;
    background-image: url(../assets/vase.png);
    background-repeat: no-repeat;
    background-position: -4% 0%;
    background-size: contain;
    margin: 4rem;
    position: relative;
    padding: 5rem 3rem;;
}

.vase-img {
    position: fixed;
    width: 26%;
    height: 100%;
}

.vase-img img {
   width: 100%;
}

.login-background {
    background-color: #f8f7fd;
    width: 100%;
    height: 68%;
}

.login-content {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}

.login-form {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #2e2066;
}

.signup-xchange {
    background: url(../assets/login-right.png) no-repeat;
    background-size: cover;
    width: 45%;
    border-radius: 1rem;
    position: relative;
}

.form-content {
    margin: 0 0 10px;
    padding: 10px 0;
}

.login-header {
    font-size: 22px;
    margin: 2rem auto 1rem;
}

.text {
    font-size: 13px;
}

.form-info {
    width: 70%;
}

.center {
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.ui-input {
    position: relative;
    display: inline-flex;
    margin-bottom: 1rem;
    width: 100%;
}

.ui-input input {
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    width: 100%;
}

.ui-input i {
    position: absolute;
    top: .5rem;
    right: .5em;
}

.login-btn {
    padding: .1rem 0;
    background: #4267b2;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    line-height: 26px;
    width: 100%;
    margin-bottom: 1rem;
}

.connect {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #ded2ef;
    padding: .5rem;
}

.signup-text-area {
    position: absolute;
    color: #ffffff;
    bottom: 2rem;
    left: 2.9rem;
}

.sign-up {
    padding: 0 12px;
    margin-top: 1rem;
    background: #ffffff;
    border-color: #fff;
    color: #3897f0;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    font-weight: 600;
    line-height: 26px;
    width: 70%;
}

.signup-header {
    margin-bottom: 1rem;
}

.signup-header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 100;
}
